$colors: (
  primary: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 100%, 60%),
    400: hsl(12, 100%, 43%),
    500: hsl(14, 100%, 20%),
  ),
  secondary: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 100%, 60%),
    400: hsl(12, 100%, 43%),
    500: hsl(14, 100%, 20%),
  )
);